<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Buy a Car</title>
    </head>
    <body>
        <h1>Lets buy a car</h1>
        <form class="" action="/new_car" method="post">
          <label for="">Make</label>
          <input type="text" name="make" value="">
          <label for="">Miles</label>
          <input type="text" name="miles" value="">
          <label for="">Post an Image</label>
          <input type="text" name="image" value="">
          <label for="">Price</label>
          <input type="text" name="price" value="">
          <button type="submit" name="button">Submit</button>
        </form>
    </body>
    
</html>
